* {
    box-sizing: border-box;
}

.grid {
    width: 100%;
    display: block;
    padding: 20px;
}

.grid.no-p {
    padding: 0px;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.row.nowrap {
    flex-wrap: nowrap;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 8px;
    padding-right: 8px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.c-o-2 {
    margin-left: 16.66667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.33333%;
}

.c-o-5 {
    margin-left: 41.66667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.33333%;
}

.c-o-8 {
    margin-left: 66.66667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.33333%;
}

.c-o-11 {
    margin-left: 91.66667%;
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .cu-2-4 {
      flex: 0 0 20% !important;
      max-width: 20% !important;
    }
  }

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .l-0 {
        display: none;
    }

    .wide .l-1,
    .wide .l-2,
    .wide .l-2-4,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
        display: block;
    }

    .wide .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .l-o-1 {
        margin-left: 8.33333%;
    }

    .wide .l-o-2 {
        margin-left: 16.66667%;
    }

    .wide .l-o-3 {
        margin-left: 25%;
    }

    .wide .l-o-4 {
        margin-left: 33.33333%;
    }

    .wide .l-o-5 {
        margin-left: 41.66667%;
    }

    .wide .l-o-6 {
        margin-left: 50%;
    }

    .wide .l-o-7 {
        margin-left: 58.33333%;
    }

    .wide .l-o-8 {
        margin-left: 66.66667%;
    }

    .wide .l-o-9 {
        margin-left: 75%;
    }

    .wide .l-o-10 {
        margin-left: 83.33333%;
    }

    .wide .l-o-11 {
        margin-left: 91.66667%;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }

    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .rm-0 {
        display: none;
    }

    .rm-1,
    .rm-2,
    .rm-3,
    .rm-4,
    .rm-5,
    .rm-6,
    .rm-7,
    .rm-8,
    .rm-9,
    .rm-10,
    .rm-11,
    .rm-12 {
        display: block;
    }

    .rm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .rm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .rm-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .rm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .rm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .rm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .rm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .rm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .rm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .rm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .rm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .rm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .rm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .rm-o-1 {
        margin-left: 8.33333%;
    }

    .rm-o-2 {
        margin-left: 16.66667%;
    }

    .rm-o-3 {
        margin-left: 25%;
    }

    .rm-o-4 {
        margin-left: 33.33333%;
    }

    .rm-o-5 {
        margin-left: 41.66667%;
    }

    .rm-o-6 {
        margin-left: 50%;
    }

    .rm-o-7 {
        margin-left: 58.33333%;
    }

    .rm-o-8 {
        margin-left: 66.66667%;
    }

    .rm-o-9 {
        margin-left: 75%;
    }

    .rm-o-10 {
        margin-left: 83.33333%;
    }

    .rm-o-11 {
        margin-left: 91.66667%;
    }
}

@media (max-width: 767px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .s-0 {
        display: none;
    }

    .s-1,
    .s-2,
    .s-3,
    .s-4,
    .s-5,
    .s-6,
    .s-7,
    .s-8,
    .s-9,
    .s-10,
    .s-11,
    .s-12 {
        display: block;
    }

    .s-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .s-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .s-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .s-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .s-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .s-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .s-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .s-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .s-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .s-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .s-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .s-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .s-o-1 {
        margin-left: 8.33333%;
    }

    .s-o-2 {
        margin-left: 16.66667%;
    }

    .s-o-3 {
        margin-left: 25%;
    }

    .s-o-4 {
        margin-left: 33.33333%;
    }

    .s-o-5 {
        margin-left: 41.66667%;
    }

    .s-o-6 {
        margin-left: 50%;
    }

    .s-o-7 {
        margin-left: 58.33333%;
    }

    .s-o-8 {
        margin-left: 66.66667%;
    }

    .s-o-9 {
        margin-left: 75%;
    }

    .s-o-10 {
        margin-left: 83.33333%;
    }

    .s-o-11 {
        margin-left: 91.66667%;
    }
}